@import "../../utils/style/variables";
@import "../../utils/style/mixins";

.main_home {
  padding: 40px 6%;
}

.home_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); //  3 colonnes fixes
  gap: 30px;
  margin-top: 40px;
}

@include respond-to(mobile) {
  .home_cards {
    grid-template-columns: 1fr; // 1 colonne sur mobile
    gap: 15px;
  }
}
