@import '../../utils/style/variables';
@import '../../utils/style/mixins';

.collapse_item {
  width: 100%;
  margin-top: 20px;

  .collapse_header {
    @include button-primary;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: default; // le curseur ne s'applique qu'à la flèche

    .collapse_icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg); // rotation lors de l'ouverture
      }
    }
  }

  .collapse_content {
    background-color: $light-gray;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    display: none;

    &.open {
      display: block;
    }

    ul {
      list-style: none; // supprime les puces
      padding-left: 0;
      margin: 0;
    }

    li {
      margin-bottom: 5px; // espace entre les items
    }
  }
}
