@import '../../utils/style/variables';
@import '../../utils/style/mixins';

.header {
  &_container {
    @include flex-between(row);
    padding: 40px 6%;

    .logo {
      height: 70px;
    }

    .navbar {
      display: flex;
      gap: 40px;
      align-items: center;

      .navbar__link .nav {
        color: black;                // texte noir
        text-decoration: none;        // enlève le soulignement
        font-weight: 500;
        font-size:26px;

        &:hover,
        &:focus,
        &:active {
          color: black;              
          text-decoration: none;      // pas de soulignement au hover non plus
        }
      }

    }
  }

  // ======= Tablette =======
  @include respond-to(tablet) {
    &_container {
      padding: 20px 4%;

      .logo {
        width: 150px;
        height: 70px;
      }

      .navbar {
        gap: 60px;

        .navbar__link .nav {
          font-size: 24px;
        }
      }
    }
  }

  // ======= Mobile =======
  @include respond-to(mobile) {
    &_container {
      width: 98%;
      margin: 0 auto;

      .logo {
        width: 115px;
        height: auto;
      }

      .navbar {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;

        .navbar__link .nav {
          font-size: 18px;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }
}
