// Couleurs principales
$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$white: #ffffff;
$black: #000000;
$light-gray: #f6f6f6; // 🔥 ajouté pour corriger ton erreur

// Radius
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;

// Police
$font-stack: 'Montserrat', Helvetica, sans-serif;
